
/* Sidebar container */
.sidebar {
    transition: width 0.3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1050; 
    background-color: rgb(240, 242, 245); 
  }

  .sidebar-content {
    background: "F0F2F5";
  }
  
  .sidebar-logo {
    color: blue;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16.5px;
    text-shadow: 4px 4px 15px rgba(92, 176, 255, 0.3);
  }
  
  /* Collapsed state */
  .sidebar.collapsed {
    width: 50px; /* Only show icons */
  }
  
  /* Expanded state */
  .sidebar.expanded {
    width: 230px; 
  }
  
  /* Toggle button */
  .toggle-btn {
    position: absolute;
    top: 10px; 
    right: -50px; 
    border: none; 
    background-color: transparent; 
  }
  
  /* Sidebar links container */
  .sidebar-nav {
    display: flex;
    flex-direction: column;
  }
  
  /* Sidebar links */
  .sidebar-nav .sidebar-link {
    display: flex;
    align-items: center;
    color: #6c757d; 
    transition: color 0.3s ease; 
    margin-bottom: 0.5rem; 
  }
  
  /* Icon */
  .sidebar-nav .sidebar-link .icon {
    width: 24px; 
    height: 24px; 
    margin-right: 1em; 
  }
  
  /* Text */
  .sidebar-nav .sidebar-link .link-text {
    white-space: nowrap;
    margin-left: 2em;
    text-align: left;
  }
  
  /* Hover effect */
  .sidebar-nav .sidebar-link:hover {
    color: #007bff; 
  }
  